<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  We are a new company looking to puting all of your house on the cloud!!! The Camnopous is just the first product that you loves to use in this new era!!!
</p>
