<div class="container">

  <div class="center hero-unit">
    <h1>Camnopous, the easiest cloud camera</H1>
  
    <h2>
      Register to have a little taste of the first product that will revolutionize your house life!!!
    </h2>
  
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary"  %>
  </div>


  <!-- Example row of columns -->
  <div class="row" style="margin-top:50px;">
    <div class="col-md-3 col-sm-3"></div>
    <div class="col-md-2 col-sm-2 col-xs-4 ext-box">
      <div class="video-box">
        <%= link_to image_tag("get_image1.jpg", alt: "puppets", class: "img-responsive"), 'https://blank' %> 
        <br>video1
      </div>
		</div>
    <div class="col-md-2 col-sm-2 col-xs-4 ext-box">
      <div class="video-box">
        <%= link_to image_tag("get_image2.jpg", alt: "3D printers", class: "img-responsive"), 'https://blank' %> 
        <br>video2
      </div>
		</div>
    <div class="col-md-2 col-sm-2 col-xs-4 ext-box">
      <div class="video-box">
        <%= link_to image_tag("get_image3.jpg", alt: "Security cam", class: "img-responsive"), 'https://blank' %> 
        <br>video3
      </div>
		</div>
    <div class="col-md-3 col-sm-3"></div>
	</div> <!-- row 1 -->
 

</div> <!--end container-->
