<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<div class="row">
  <div class="col-md-5 col-xs-12 col-centered">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control", placeholder: "Email"  %>

      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control", placeholder: "Password"  %>

      <div class="col-md-5 col-xs-8 col-centered">
        <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
      </div>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>
