<%= render 'shared/error_messages' %>

<%= f.label :name, 'Your Name' %>
<%= f.text_field :name, class: "form-control", placeholder: "Name" %>

<%= f.label :email %>
<%= f.email_field :email, class: "form-control", placeholder: "Email" %>

<%= f.label :password %>
<%= f.password_field :password, class: "form-control", placeholder: "Password"  %>

<%= f.label :password_confirmation, "Confirm Password" %>
<%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation"  %>

