<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-5 col-xs-12 col-centered">
    <%= form_for(@user) do |f| %>
      <%= render 'fields', f: f %>

      <div class="col-md-6 col-xs-10 col-centered">
        <%= f.submit "Save changes", class: "btn btn-primary" %>
      </div>
    <% end %>

    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails" target="_blank", >change</a>
  </div>
</div>
