<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-5 col-xs-12 col-centered">
    <%= form_for(@user) do |f| %>
      <%= render 'fields', f: f %>
      <div class="col-md-6 col-xs-10 col-centered">
        <%= f.submit "Create my account", class: "btn btn-lg btn-primary" %>
      </div>
    <% end %>
  </div>
</div>






