<footer class="footer">
    <a href="http://www.camnopous.com/">Camnopous</a>
    
  <nav>
    <ul>
      <li><%= link_to "About",    about_path  %></li>
      <li><%= link_to "Contact",  contact_path %></li>
    </ul>
  </nav>
</footer>
